<div class="column col{{ column_width ? '-' ~ column_width : '' }} {{ column_width < 12 ? 'partial-column' : '' }}">
	<div class="columns {{ (img_position == 'left' or img_position == 'top') ? 'reverse' : ''  }}">
		{% if title or text %}
			<div class="column col{{ (img_col_width < 12) ? '-' ~ (12 - img_col_width) : '' }} column-text-items">
				{% if title %}
					<h2 id="{{ title }}" class="content-title">
						{{title}}
					</h2>
				{% endif %}
				
				{% if text %}
					{# <p class="content-text"> #}
						{{text|markdown}}
						{% if text_markdown %}
							{# {{ page.content }} #}
						{% endif %}
					{# </p> #}
				{% endif %}
			</div>
		{% endif %}
		
		{% if has_img %}
			<div class="column col{{ img_col_width ? '-' ~ img_col_width : '12' }} column-img-items">
				{# <div class="with-top-space user-interfaces"> #}
					<img class="main-img" src="{{ page.url() ~ '/' ~ img }}"/>
				{# </div> #}
			</div>
		{% endif %}
	</div>
</div>
