
<div id="topic-list" class="columns">
	{% for topic in page.children %}
        {% if not topic.header.hidden %}
            <div class="topic-item">
                <div class="topic-container">
                    <div class="image-container">
                        {% set var = topic.title %}
                        <a href="{{ uri.url(false) ~ '/' ~ topic.slug()  }}">
                            {% if topic %}
                                {% set topic_image_file = '0' ~ loop.index ~ '.' ~ topic.slug() ~ '/main.png' %}
                                <img class="topic-image" src="{{ url('user://pages/04.research-projects/' ~ topic_image_file) }}" alt="{{ topic.title }}"/>
                            {% else %}
                                no logo :(
                            {% endif %}      
                            <div class="topic-title-container">
                                <h2 class="topic-title">
                                    {{ topic.title }}
                                </h2>
                            </div>
                        </a>
                    </div>
                    <p class="topic-sub-categories">
                        {% for row in topic.header.rows %}
                            <span>
                                {% for column in row.columns %}
                                    {% if column.title %}
                                        <a href="{{ uri.url(false) ~ '/' ~ topic.slug() ~ '#' ~ column.title  }}">
                                            {{column.title}}
                                        </a><br>
                                    {% endif %}
                                {% endfor %}
                            </span>
                        {% endfor %}
                    </p>
                </div>
            </div>
        {% endif %}
	{% endfor %}
</div>

