
{% set logos = theme_var('logos') %}


{% block intro %}
	{{ dump(logos) }}
	<section id="intro" class="columns">
		<div class="column col-9 col-mx-auto">
			<div class="intro-title-container">
				<a href="{{ logos[0].link }}" target="_blank">
					<img class="body-logo" src="{{ url('theme://images/' ~ logos[0].name) }}" alt="{{ logos[0].name }}"/>
				</a>

				<h1 class="intro-title">
					{{ page.header.title }}
				</h1>

				<a href="{{ logos[1].link }}" target="_blank">
					<img class="body-logo" src="{{ url('theme://images/' ~ logos[1].name) }}" alt="{{ logos[1].name }}"/>
				</a>

			</div>
			{% for row in page.content|split('<hr />') %}
				<p class="intro-text">{{row}}</p>
			{% endfor %}

			<div class="intro-button-container">
				<a href="{{ uri.route(true) ~ 'publications'  }}" class="main-button round">
					<div class="main-button-container">
						<span class="main-button-label">
							OUR PUBLICATIONS
						</span>
					</div>
				</a>
			</div>

			<div class="research-field-container">
				{% for field in page.header.research_fields %}
					<a href="{{ uri.route(true) ~ 'research-projects/' ~ field.slug }}" class="research-field-item">
						<img src="{{ url('user://pages/01.home/intro/' ~ field.icon) }}" alt="{{ field.name }}" class="research-field-img">
						<h3 class="research-field-title">
							{{ field.title }}
						</h3>
					</a>
				{% endfor %}
			</div>

			<div class="intro-button-container">
				<a href="{{ uri.route(true) ~ 'research-projects' }}" class="main-button round">
					<div class="main-button-container">
						<span class="main-button-label">
							OUR RESEARCH
						</span>
					</div>
				</a>
			</div>

			<div class="intro-divider-container">
				<div class="intro-divider"></div>
			</div>
		</div>
	</section>
{% endblock %}
