{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}

{% block body %}

    <section id="body-wrapper" class="research-container">
        <section class="container {{ grid_size }} p-relative">

            {% block intro %}
            <section id="intro" class="columns">
                <div class="column col-9 col-mx-auto">
                    <h1 class="intro-title">
                        {{ page.header.title }}
                    </h1>
                    <p class="intro-text">{{page.header.desc}}</p>
                    
                    {% include 'partials/research-topic-list.html.twig' with {subpages: page.children} %}
                    
                    {% for topic in page.children %}
                        {% if topic.header.hidden %}
                            <section class="older-projects columns">
                                <h2 class="older-projects-title col-12">
                                    {{topic.header.title}}
                                </h2>
                                <p class="topic-sub-categories col-12">
                                    {% for row in topic.header.rows %}
                                        <span>
                                            {% for column in row.columns %}
                                                {% if column.title %}
                                                    {% set columnTitle = 'title-' ~ column.title|replace({' ': ''})|replace({'&': 'n'}) %}
                                                    <a href="{{ uri.url(false) ~ '/' ~ topic.slug() ~ '#' ~ (columnTitle)  }}">
                                                        {{column.title}}
                                                    </a><br>
                                                {% endif %}
                                            {% endfor %}
                                        </span>
                                    {% endfor %}
                                </p>
                            </section>
                        {% endif %}
                    {% endfor %}
                </p>
                </div>
            </section>
            {% endblock %}

            
        </section>

    </section>

{% endblock %}

{% block content %}
	{{ page.content|raw }}
{% endblock %}

