{% extends 'partials/base.html.twig' %}
{% set grid_size = theme_var('grid-size') %}
{% set publishedDate = (page.header.month ~ ' ' ~ page.header.year)|date('c') %}
{% set imagePath = page.header.teaser ? ('user://data/' ~ page.header.teaser) : '' %}
{% set thumbnailPath = page.header.thumbnail ? ('user://data/' ~ page.header.thumbnail) : '' %}


{% set inlineJs = '{
    "@context": "http://schema.org",
    "@type": "Article",
    "headline":"' ~ page.header.title ~'",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "url": "'~ page.permalink ~ '"
    },
    "articleBody": "' ~ page.header.abstract ~'",
    "datePublished": "' ~ publishedDate ~'",
    "dateModified": "' ~ publishedDate ~'",
    "description": "' ~ page.header.abstract ~ '",
    "author": "' ~ page.header.author ~ '",
}' %}


{% block head deferred %}
<!-- Primary Meta Tags -->
<meta name="title" content="{{page.header.title}}">
<meta
name="description" content="{{page.header.abstract}}">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{page.permalink}}">
<meta property="og:title" content="{{ page.header.title }}">
<meta property="og:description" content="{{page.header.abstract}}">
{% if page.media['main.png'] %}
<meta property="og:image" content="{{topic.media['main.png'].url|e}}">
{% endif %}


<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{page.permalink}}">
<meta property="twitter:title" content="{{ page.header.title }}">
<meta property="twitter:description" content="{{page.header.abstract}}">
<meta property="twitter:image" content="{{topic.media['main.png'].url|e}}">

{% endblock %}

{% block javascripts %}
{% do assets.addInlineJs(inlineJs, {'priority':102, 'type': 'application/ld+json'}) %}


{% endblock %}

{% block body %}
	<section id="body-wrapper" class="single-publication-page">
		<section class="container {{ grid_size }} p-relative">

			{% block intro %}
				<section id="intro">
					
					{% block mainimg %}
						{% if page.header.teaser %}
							<div class="image-container"  >
								<div class="blurred-bg" style="background-image: url({{ media[thumbnailPath].url|e }});"></div>

								<img class="main-img" src="{{ media[imagePath].url|e }}" alt="{{ page.header.title }}"/>
							</div>
						{% endif %}
					{% endblock mainimg %}

					<h1 class="intro-title">
						{# we need to strip the title and other texts of any {}  #}
						{{ page.header.title }} <span class="entry-type btn disabled">{{ page.header.entryType|capitalize  }}</span>
					</h1>
					<div class="intro-second-line">
						{# <h4 class="type mr-2">
							{{ page.header.entryType|capitalize  }}
						</h4> #}
						<h4 class="authors">
							{{ page.header.author }}
						</h4>
						
					</div>

				</section>
				
				<section id="paper-data">
					{% if page.header.abstract != "" and page.header.abstract != "undefined" %}
						<div class="abstract">
							<h4>
								Abstract:
							</h4>
							<p class="abstract-text">
								{{ page.header.abstract }}
							</p>
						</div>
					{% endif %}
					
				</section>

				<section id="paper-meta-data">
					<div class="date">
						<strong>
							Date of publication: 
						</strong>
						{{ page.header.month }} - {{ page.header.year }}
					</div>
					{# <div class="keywords">
						<strong>
							Keywords:
						</strong>
						{{ page.header.keywords }}
					</div> #}
					<div class="publisher">
						<strong>
							Publisher:
						</strong>
						{{ page.header.publisher != 'undefined' ? page.header.publisher : 'pending...'  }}
					</div>
					{% if page.header.doi %}
						<div class="doi">
							<strong>
								DOI: 
							</strong>
							<a href="{{ page.header.doi }}">
								{{ page.header.doi }}
							</a>
						</div>
					{% endif %}
					{% if page.header.url %}
						<div class="url">
							<strong>
								URL: 
							</strong>
							<a href="{{ page.header.url }}">
								{{ page.header.url }}
							</a>
						</div>
					{% endif %}
					{% if page.header.pdf %}
						<div class="pdf-container">
							<a href="{{ '/user/data/' ~ page.header.pdf }}" class="get-pdf-button btn">
								Get PDF
							</a>
						</div>
					{% endif %}
				</section>
				<pre class="bibtex-entry mt-3">
					{{
						page.content|raw
					}}
				</pre>

			{% endblock intro %}

		</section>

	</section>

{% endblock %}
